services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: nexus_pass
      POSTGRES_DB: nexus_db
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

  cache:
    image: redis:alpine
    ports:
      - "6380:6379" 
volumes:
  postgres_data: